<html>
    <head>
        <title>EJS Cars and Cats</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <img src="images/56c8b512dd0895906d8b467a-750-527.jpg">
        <img src="images/592f4169b74af41b008b5977-750-563.jpg">
    </body>
</html>