<html>
    <head>
        <title>EJS Cars and Cats</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <a href="/john"><img src="images/636124053572235005-101816orange-cat-thinkstock.jpg"></a>
        <a href="/steve"><img src="images/cat-pet-animal-domestic-104827.jpeg"></a>
    </body>
</html>