<html>
    <head>
        <title>EJS Cars and Cats</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <form>
            <label>Fill out the form to create a new car:</label>
            <input type="text">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>